<a href="https://colab.research.google.com/github/ssubin29/KaggleStruggle/blob/main/PortoSeguro_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
DATA_IN = '/content/drive/MyDrive/Colab/KaggleStruggle/dataset/portoseguro'

## 필요한 모듈 임포트

In [3]:
# Let us load in the relevant Python modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import warnings
from collections import Counter
from sklearn.feature_selection import mutual_info_classif
warnings.filterwarnings('ignore')

In [4]:
train_data = pd.read_csv(DATA_IN+'/train.csv')
train_data.head()

   id  target  ps_ind_01  ...  ps_calc_18_bin  ps_calc_19_bin  ps_calc_20_bin
0   7       0          2  ...               0               0               1
1   9       0          1  ...               0               1               0
2  13       0          5  ...               0               1               0
3  16       0          0  ...               0               0               0
4  17       0          0  ...               1               1               0

[5 rows x 59 columns]

In [5]:
test_data = pd.read_csv(DATA_IN+'/test.csv')
test_data.head()

   id  ps_ind_01  ps_ind_02_cat  ...  ps_calc_18_bin  ps_calc_19_bin  ps_calc_20_bin
0   0          0              1  ...               0               0               1
1   1          4              2  ...               1               0               1
2   2          5              1  ...               0               0               0
3   3          0              1  ...               0               0               0
4   4          5              1  ...               0               0               1

[5 rows x 58 columns]

In [6]:
test_data = pd.read_csv(DATA_IN+'/sample_submission.csv')
test_data.head()

   id  target
0   0  0.0364
1   1  0.0364
2   2  0.0364
3   3  0.0364
4   4  0.0364

In [7]:
# Taking a look at how many rows and columns the train dataset contains
rows = train_data.shape[0]
columns = train_data.shape[1]
print("The train dataset contains {0} rows and {1} columns".format(rows, columns))

The train dataset contains 595212 rows and 59 columns